body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #61dafb;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.timer {
  color: white;
  font-size: 100px;
  font-weight: 200;
}

.presetTimerBtns {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.presetTimerBtns button {
  color:black;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border: 0px;
  border-radius: 5px;
  margin: 0 10px;
}
